/* Estilos para o container do botão deslizante */
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
}

/* Esconde o checkbox padrão */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Estilos para o slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Cor de fundo do slider quando está ativado */
input:checked + .slider {
    background-color: #050513;
}

/* Movendo o círculo do slider quando está ativado */
input:checked + .slider:before {
    transform: translateX(18px);
}

.white-mode {
    align-items: center;
    justify-content: center;
    display: flex;  
}

.white-mode h2 {
    font-size: 22px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.white-mode img {
    height: 30px;
    width: auto;
    margin-right: 10px;
}